@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

@layer components {
  .mainStroke {
    font-family: Arial, sans-serif; /* Use a font similar to your design */
    font-size: 24px; /* Adjust size as needed */
    font-weight: bold; /* Make the text bold */
    color: transparent; /* Make the text fill transparent */
    -webkit-text-stroke: 1px #00aaff; /* Outer stroke with blue color */
    position: relative;
    padding: 5px 10px;
    display: inline-block;
    background-color: #1e1e1e; /* Match the dark background */
    border: 1px solid #00aaff; /* Border similar to the stroke color */
  }
  * {
    transition: all 0.3s ease-in-out;
  }
  .font-pinyon {
    font-family: 'Pinyon Script', serif;
    font-weight: 300;
    font-style: normal;
  }
  .hubot-sans {
    font-family: 'Hubot Sans', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
  }
  .section {
    min-height: 720px;
    width: 100%;
  }
}
