@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wdth,wght@0,75,200..900;1,75,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .scroll-content {
    display: inline-block;
    animation: scroll 15s linear infinite;
  }
  .mainStroke {
    -webkit-text-stroke: 0.4px white;
  }
  * {
    transition: all 0.3s ease-in-out;
  }
  .font-pinyon {
    font-family: 'Pinyon Script', serif;
    font-weight: 300;
    font-style: normal;
  }
  .hubot-sans {
    font-family: 'Hubot Sans', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
  }
  .section {
    min-height: 720px;
    width: 100%;
  }
}
